*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%; /*1rem =10px*/
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#E6E6FA,#DCD0FF );
}
.heading{
    text-align: center;
    font-size: 5.6rem;
    margin-bottom: 2rem;
}
.number{
    text-align: center;
    font-size: 9.6rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.button__section{
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
}
button{
    padding: .5rem 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #fff;
    border-radius: .5rem;
    cursor: pointer;
}
.decrease{
    color: #FF0060;
    border: 2px solid #FF0060;
}
.increase{
    color: green;
    border: 2px solid green;
}
@media only screen and (max-width: 600px){
    html{
        font-size: 50%; /*1rem = 8px*/
    }
}
@media only screen and (max-width: 400px){
    html{
        font-size: 37.5%; /*1rem = 6px*/
    }
    .button__section{
        flex-direction: column;
    }   
}
